#container .field {
  margin: 20px auto;
  padding: 30px;
  padding-left: 30px;
  font-size: 40px;
  height: 40px;
  line-height: 60px;
  text-align: center;
  color: #000;
}

#container .field.correct {
    color: blue;
}

#container .field.incorrect {
    color: red;
}
