body {
	font-family: 'Lato', Arial, sans-serif;
	background: #add8df;
	color: #fff;
	overflow-x: hidden;
	overflow-y: scroll;
	font-weight: 300;
}

img {
	pointer-events: none;
}

.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

a {
	color: rgba(0,0,0,0.4);
	text-decoration: none;
	outline: none;
}

a:hover,
a:focus {
	color: #fff;
}
