.wrap {
    max-width: 1920px;
    min-width: 320px;
}

img {
    &.sm, &.md, &.lg, &.mobile-only, &.pc-only {
        width: 100%;
        max-width: 100%;
    }
}

@media @phoneOnly {
    .padder-sm {
        margin-left: 15px;
        margin-right: 15px;
    }
}
