@font-face {
    font-family: 'Charlotte Text';
    src: url('../../resources/fonts/CharlotteTextM.eot');
    src: local('☺'),
        url('../../resources/fonts/CharlotteTextM.eot?#iefix') format('embedded-opentype'),
        url('../../resources/fonts/CharlotteTextM.woff') format('woff'),
        url('../../resources/fonts/CharlotteTextM.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Charlotte Text';
    src: url('../../resources/fonts/CharlotteTextB.eot');
    src: local('☺'),
        url('../../resources/fonts/CharlotteTextB.eot?#iefix') format('embedded-opentype'),
        url('../../resources/fonts/CharlotteTextB.woff') format('woff'),
        url('../../resources/fonts/CharlotteTextB.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.font-charlotte(){
    font-family: 'Charlotte Text';
}

html, body {
    .font-charlotte();
}
