//* class ================================================================== */
.set-media-aspect(@width: 640, @height: 480) {
    @ratio: ( @height / @width ) * 100;
    position: relative;
    height: 20px;
    padding-bottom: @ratio + 0%;
    .media,
    > iframe,
    > div {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.set-alignment(@type:a) when (@type = a) {
    overflow: hidden;
    zoom: 1;
    margin: 10px 0;
    .image, .head, .body {
        display: table-cell;
        vertical-align: top;
        word-wrap:break-word;
    }
    &:after {
        display: block;
        content: " ";
        height: 0;
        clear: both;
    }
    .image {
        img {
            max-width: initial;
        }
    }
}

//* less ================================================================== */
.media-aspect {
  .set-media-aspect(640, 480);
}
