.set-scrolling-touch(){
    -webkit-overflow-scrolling: touch;
}

//* class ================================================================== */
.set-img-retina (@file-1x; @file-2x; @width-1x; @height-1x) { // retina 이미지 처리, 보강 필요
    background-image: url("@{file-1x}");
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
        background-image: url("@{file-2x}");
        background-size: @width-1x @height-1x;
    }
}

// set | pipe
.set-pipe(@color: #d2d2d2, @width: 1px, @height: 10px) {
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        margin-top: 0 - ((@height/2));
        left: 0;
        width: 1px;
        height: @height;
        background-color: @color;
    }
}
//* less ================================================================== */

.hr,
hr {
    .clearfix();
    margin: 30px 0;
    .wrap {
        position: relative;
        overflow: hidden;
        height: 1px;
        &::after {
            position: absolute;
            content: '';
            display: block;
            left: 0;
            right: 0;
            top: 0;
            height: 1px;
            background-color: #eaeaea;
        }
    }
    @media @desktop {
        margin: 60px 0;
    }
}

.bottom-spacer {
    clear: both;
    height: 1px;
    margin-bottom: -1px;
    overflow: hidden;
    margin-top: 65px;
    @media @desktop {
        margin-top: 100px;
    }
}

// 더 보기
.section-more {
    .clearfix();
    margin: 30px 0;
    .wrap {
        text-align: center;
    }

}

// image holder replacement
.img-holder {
    background-size: 100% auto;
    background-size: cover;
    background-position: center center;
}

.scroll-wrapper {
    overflow: auto;
    height: 300px;
    .scroll-inner {
        margin: 10px 0;
        padding: 0 20px;
        text-align: left;
        line-height: 1.6;
        color: #8c8c8c;
    }
    @media @desktop {
        th, td {
            font-size: 16px;
        }
    }
}

// creat id
.scroll-wrapper.rule-b {
    height: 179px;
    @media @desktop {
        height: 176px;
    }
}


.scroller-x {
    margin: 30px 0;
    table {
        // table-layout: fixed;
    }
    th,
    p {
        word-break: keep-all;
    }
    th, th p {
        white-space: nowrap;
    }
    .scroll-inner {
        width: 100%;
    }
    @media @phoneOnly {
        overflow: hidden;
        overflow-x: auto;
    }
    @media only screen and (min-width: 1px) and (max-width: 767px) {
        .scroll-inner {
            > table {
                min-width: 600px;
                th > span {
                    display: block;
                }
            }
            table.table-full-sm {
                min-width: 0; // auto
            }
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .scroll-inner {
            > table {
                min-width: 100%;
            }
        }
    }
}

// 좌표 맞추기
.pos(@x, @y, @dir, @xx: 460, @yy: 640) when (@dir = n) { // 북서
    top: percentage(@y / @yy);
    left: percentage(@x / @xx);
    transform: translate(-50%, -100%);
}
.pos(@x, @y, @dir, @xx: 460, @yy: 640) when (@dir = m) { // 중앙
    top: percentage(@y / @yy);
    left: percentage(@x / @xx);
    transform: translate(-50%, -50%);
}
.pos(@x, @y, @dir, @xx: 460, @yy: 640) when (@dir = s) { // 북서
    top: percentage(@y / @yy);
    left: percentage(@x / @xx);
    transform: translate(-50%, 0%);
}
.pos(@x, @y, @dir, @xx: 460, @yy: 640) when (@dir = nw) { // 북서
    top: percentage(@y / @yy);
    left: percentage(@x / @xx);
    transform: translate(-100%, -100%);
}
.pos(@x, @y, @dir, @xx: 460, @yy: 640) when (@dir = ne) { // 북동
    top: percentage(@y / @yy);
    left: percentage(@x / @xx);
    transform: translate(0%, -100%);
}
.pos(@x, @y, @dir, @xx: 460, @yy: 640) when (@dir = se) { // 남동
    top: percentage(@y / @yy);
    left: percentage(@x / @xx);
}
.pos(@x, @y, @dir, @xx: 460, @yy: 640) when (@dir = me) { // 남동
    top: percentage(@y / @yy);
    left: percentage(@x / @xx);
    transform: translate(0%, -50%);
}
.pos(@x, @y, @dir, @xx: 460, @yy: 640) when (@dir = sw) { // 남서
    top: percentage(@y / @yy);
    left: percentage(@x / @xx);
    transform: translate(-100%, 0%);
}
.pos(@x, @y, @dir, @xx: 460, @yy: 640) when (@dir = no) { // 아래
    top: percentage(@y / @yy);
    left: 0;
    right: 0;
}
.pos-md(@x, @y, @dir, @xx: 768, @yy: 659) when (@dir = nw) {
    @media @tablet {
        top: percentage(@y / @yy);
        left: percentage(@x / @xx);
        transform: translate(-100%, -100%);
    }
}
.pos-md(@x, @y, @dir, @xx: 768, @yy: 659) when (@dir = ne) {
    @media @tablet {
        top: percentage(@y / @yy);
        left: percentage(@x / @xx);
        transform: translate(0%, -100%);
    }
}
.pos-md(@x, @y, @dir, @xx: 768, @yy: 659) when (@dir = se) {
    @media @tablet {
        top: percentage(@y / @yy);
        left: percentage(@x / @xx);
    }
}
.pos-md(@x, @y, @dir, @xx: 768, @yy: 659) when (@dir = sw) {
    @media @tablet {
        top: percentage(@y / @yy);
        left: percentage(@x / @xx);
        transform: translate(-100%, 0%);
    }
}
.pos-md(@x, @y, @dir, @xx: 768, @yy: 659) when (@dir = no) {
    @media @tablet {
        top: percentage(@y / @yy);
        left: 0;
        right: 0;
    }
}
