canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
a[uk-totop] { position: fixed; right: 0; bottom: 0; padding: 40px; }
.uk-countdown-number { font-size: 1.6rem; }
@media (min-width: 321px) {
    .uk-countdown-number { font-size: 2rem; }
}
@media (min-width: 640px) {
    .uk-countdown-number { font-size: 2rem; }
}
@media (min-width: 960px) {
    .uk-countdown-number { font-size: 3rem; }
}

#container { padding: 40px 0 40px; min-width: 320px; }
