{
  "name": "lstyle",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "src/javascript/module.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "src",
      "src/javascript"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "src/javascript/app.js",
      "imports": [
        "src/javascript/app/_polyfills.js",
        "src/javascript/app/_function.js",
        "src/javascript/app/_jquery.extend.js"
      ]
    },
    {
      "path": "src/javascript/module.js",
      "imports": [
        "src/javascript/module/_inView.js",
        "src/javascript/module/_parallax.js",
        "src/javascript/module/_paroller.js",
        "src/javascript/module/_smoothScroll.js",
        "src/javascript/module/_distortion.js",
        "src/javascript/module/_getColor.js",
        "src/javascript/module/_tilt.js",
        "src/javascript/module/_underline.js",
        "src/javascript/module/_textMotion.func.js",
        "src/javascript/module/_textMotion.js",
        "src/javascript/module/_colorMask.js",
        "src/javascript/module/_imgPlaceHoldr.js",
        "src/javascript/module/_blockReveal.js",
        "src/javascript/module/_glassy.js",
        "src/javascript/module/_numberSpinnr.js",
        "src/javascript/module/_spidr.js",
        "src/javascript/module/_cheez.js",
        "src/javascript/module/_datepickr.js"
      ]
    },
    {
      "path": "src/javascript/plugin.js",
      "imports": [
        "resources/js/lib/jquery.easing.1.3.min.js",
        "resources/js/lib/TweenMax-1.20.4.min.js",
        "resources/js/lib/TweenMax.ScrollToPlugin.min.js",
        "resources/js/lib/jquery.gsap-0.1.12.min.js",
        "resources/js/lib/three.custom.js",
        "src/javascript/plugin/js.cookie-2.2.0.min.js",
        "src/javascript/plugin/imagesloaded-4.1.4.min.js",
        "src/javascript/plugin/jquery.smoothState.custom.js",
        "resources/js/lib/jquery.pjax.js",
        "src/javascript/plugin/jquery.lettering-0.7.0.custom.min.js",
        "src/javascript/plugin/tinycolor-1.4.1.min.js",
        "src/javascript/plugin/jquery.primarycolor-1.2.2.min.js",
        "src/javascript/plugin/swiper-4.2.0.custom.js"
      ]
    },
    {
      "path": "src/less/module.less",
      "imports": [
        "src/less/module/_textMotion.less",
        "src/less/module/_colorMask.less",
        "src/less/module/_parallax.less",
        "src/less/module/_datepickr.less",
        "src/less/module/_navLinr.less",
        "src/less/module/_lang.less",
        "src/less/module/_contentModal.less",
        "src/less/module/_modalr.less",
        "src/less/module/_modalr.fx.less"
      ]
    },
    {
      "path": "src/less/normalize.custom.less",
      "imports": [
        "src/less/normalize/_normalize-8.0.0.custom.less",
        "src/less/normalize/_default.less"
      ]
    },
    {
      "path": "src/less/plugin.less",
      "imports": [
        "src/less/plugin/_swiper.less",
        "src/less/plugin/_modaal.less",
        "src/less/plugin/_alertify.less"
      ]
    },
    {
      "path": "src/less/style.less",
      "imports": [
        "src/less/layout/_layout.less",
        "src/less/import/_mixins.less",
        "src/less/import/_mixins_crossbrowser.less",
        "src/less/import/_mixins_responsive.less",
        "src/less/import/_easing.less",
        "src/less/import/_base64.less",
        "src/less/import/_base.less",
        "src/less/import/_color.less",
        "src/less/import/_mediaquery.less",
        "src/less/import/_transition.less",
        "src/less/base/_helpers_non_responsive.less",
        "src/less/base/_helpers_responsive.less",
        "src/less/base/_font.less",
        "src/less/base/_grid.less",
        "src/less/base/_responsive.less",
        "src/less/base/_common.less",
        "src/less/base/_text.less",
        "src/less/base/_slider.less",
        "src/less/component/_form.less",
        "src/less/component/_button.less",
        "src/less/component/_icon.less",
        "src/less/component/_tab.less",
        "src/less/component/_transition.less",
        "src/less/layout/_theme.less",
        "src/less/layout/_header.less",
        "src/less/layout/_navigation.less",
        "src/less/layout/_title.less",
        "src/less/layout/_footer.less",
        "src/less/layout/_visual.less",
        "src/less/module/_overlay.less",
        "src/less/module/_indicator.less",
        "src/less/page/custom_keyframe.less",
        "src/less/page/custom_transition.less",
        "src/less/page/custom_l.less",
        "src/less/page/custom_a.less",
        "src/less/page/custom_b.less",
        "src/less/base/font/_font_charlotte.less",
        "src/less/base/font/_font_nobel.less"
      ]
    },
    {
      "path": "src/less/base/_font.less",
      "imports": [
        "src/less/base/font/_font_charlotte.less",
        "src/less/base/font/_font_nobel.less"
      ]
    },
    {
      "path": "src/less/module/_tooltip.less",
      "imports": [
        "src/less/module/_tooltip_fx.less"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7885,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"relative\":\"../../resources/css/\"},\"outputSuffix\":null}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"relative\":\"../../resources/js\"}}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}