// 모바일 모드일때
@base-mode-mobile                     : false; // 모바일 모드일때 true
@base-device-toggle                   : true; // 토글기능

// path
@base-path                            : '..';
@base-path-images                     : '@{base-path}/img';
@base-path-images-components          : '@{base-path-images}/module';
@base-path-css                        : '@{base-path}/css';
@base-path-fonts                      : '@{base-path}/fonts';

// z-index
@base-z-index-invisible               : -10;
@base-z-index-contents                : 10;
@base-z-index-visible                 : 20;
@base-z-index-footer                  : 30;
@base-z-index-aside                   : 40;
@base-z-index-slider                  : 50;
@base-z-index-sticker                 : 60;
@base-z-index-slider-util             : 70;
@base-z-index-tooltip                 : 80;
@base-z-index-header                  : 90;
@base-z-index-overlay                 : 100;
@base-z-index-indicator               : 110;
@base-z-index-modal                   : 120;
@base-z-index-modal-util              : 130;
