@before-button-border-color: #2c2c2c;
@before-button-font-weight:  400;
@before-button-height-sm:    28px; // 버튼 높이
@before-button-height-lg:    50px;
@before-button-font-size-sm: 12px;
@before-button-font-size-lg: 14px;
 
.button, button {
    position: relative;
    display: inline;
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0;
    transition: width .2s, height .2s;
    cursor: pointer;
    border: 0;
    .eng();

    span {
        position: relative;
        z-index: 1;
        display: inline-block;
        vertical-align: top;
        color: inherit;
        padding-top: 0;
        padding-bottom: 0;
        height: @before-button-height-lg;
        line-height: @before-button-height-lg;
        font-size: @before-button-font-size-lg;
        font-weight: @before-button-font-weight;
    }
    em {
        &:extend(.sr-only);
    }

    transition: all .2s;

    .icon.arrow {
        vertical-align: top;
        margin-right: -35px;
        .set-icon(40px, 50px, 'common/icon_button_arrow');
    }

    @media @phoneOnly {
        padding-left: 20px;
        padding-right: 20px;
        &::before {
            height: @before-button-height-sm;
        }
        span {
            height: @before-button-height-sm;
            line-height: @before-button-height-sm; // @before-button-height-sm;
            font-size: @before-button-font-size-sm;
        }
        .icon.arrow {
            margin-right: -20px;
            .set-icon(56px, 56px, 'common/icon_button_arrow_sm', true);
        }
    }

    @media @desktop {
    }

    &,
    &:link,
    &:visited,
    &:hover,
    &:active {
        text-decoration: none;
        color: #fff;
        border-style: solid;
    }

    @media @phoneOnly {
        &.full-sm {
            display: block;
            padding-left: 0;
            padding-right: 0;
        }
    }
}




























//* var ================================================================== */
@mode-mobile                      : @base-mode-mobile;



// button dropdown
@before-button-dropdwn-width             : 100px;
@before-button-dropdwn-border-color      : #e0e0e0;
//* class ================================================================== */

// 버튼 버라이언트
.set-button-varient(@color; @bgcolor; @border) {
    &,
    &:link,
    &:visited {
        color: @color;
        background-color: @bgcolor;
        // border: 1px @border solid;
    }
    &:focus,
    &:hover,
    &.active,
    &:active{
        color: lighten(@color, 10%);
        background-color: lighten(@bgcolor, 10%);
        // border-color: darken(@border, 10%);
    }
}

// 버튼 높이
.set-button-height(@height) {
    min-height: 18px;
    height: @height;
    line-height: @height;
}

// core
.set-button(@type: a) when (@type = a){

}

// 버튼 영역
.set-section-button(@type: a) when (@type = a){
    .clearfix();
    .button {
        margin-left: 5px;
        &:first-child,
        &.xxlarge {
            margin-left: 0;
        }
    }
    .wrap {
        text-align: center;
    }
    &.is-left {
        .button {
            margin-left: 5px;
            &:first-child,
            &.xxlarge {
                margin-left: 0;
            }
        }
        .wrap {
            text-align: left;
        }
    }
    &.is-right {
        .button {
            &,
            &:first-child {
                margin-left: 0;
                margin-right: 5px;
            }
            &:last-child,
            &&.xxlarge {
                margin-right: 0;
            }
        }
        .wrap {
            text-align: right;
        }
    }
}

//* less ================================================================== */

.button,
button {

    .set-button(a);

    text-transform: capitalize;

    &.is-double-sm {
        @media @phoneOnly {
            padding-top: 10px;
            padding-bottom: 10px;
            height: auto;
            line-height: 1.4;
            span {
                display: block;
            }
        }
    }

}

// 버튼 영역
.section-button {
    .set-section-button(a);
    margin-top: 30px;
}
